transformers
torch
accelerate

# Debug
pygments
logzero

# lsp stuff
python-lsp-server

nest_asyncio

# python client for lsp
pygls @ git+https://github.com/openlawlibrary/pygls.git

pydantic
tsv2py
polars