transformers==4.39.0
torch==2.2.1
numpy==1.26.4
accelerate

sentencepiece
# For eval
datasets
# Debug
pygments
logzero
protobuf

# lsp stuff
python-lsp-server

nest_asyncio
lsprotocol==2023.0.1
# python client for lsp
pygls @ git+https://github.com/openlawlibrary/pygls.git@0d51815255369f2ba1b28def4f3981f2f5a8bced

marisa_trie

docstring_parser